ul {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
ul li a {
  height: 22rem;
  width: 20rem;
  margin: 0.5rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
}
ul li a:hover {
  opacity: 0.9;
  cursor: pointer;
}
ul li a img {
  height: 225px;
  width: 318px;
}
.content {
  padding: 0.5rem 1rem;
  position: relative;
}
.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
}
.star {
  margin-bottom: 0.2rem;
}
.product-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tags {
  flex: 9;
}
.tags span {
  border-radius: 2rem;
  background-color: whitesmoke;
  color: #252525;
  font-size: 0.9rem;
  margin-right: 0.3rem;
  display: inline-block;
}
.seller {
  font-size: 0.9rem;
  flex: 3;
  color: #252525;
}
.price {
  color: #252525;
  margin-top: 0.2rem;
}
